---
import { getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";
import PostList from "../layouts/PostList.astro";
import Main from "../components/Main.astro";
import Footer from "../components/Footer.astro";

const posts = await getCollection("posts");
console.log(posts);
---

<Layout title="/home/revv/blog">
  <div class="container flex px-4 mx-auto my-24 h-full max-w-5xl">
    <div class="w-full">
      <h1 class="text-secondary-300 text-2xl font-bold text-start mb-8">
        <span class="text-accent font-bold mr-1"> | </span>
        Blog
      </h1>
      <div class="flex flex-cols w-full">
        <div class="grid grid-cols-1 gap-7 w-full">
          {posts.map((post) => <PostList posts={posts} />)}
        </div>
      </div>
    </div>
  </div>
</Layout>
