---
import Layout from "../layouts/Layout.astro";
import Main from "../components/Main.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="/home/revv/index" />
<div class="my-20 flex justify-center py-10 h-70vh">
  <div class="w-full h-full h-100vh p-12 max-w-3xl grid gap-6">
    <div class="text-secondary-300">
      <h1>
        <span class="text-secondary-300 font-bold text-3xl"
          >REJA REVALDY F
        </span>(レジャ)<span></span>
        <span
          class="text-secondary-200 font-thin flex items-center h-full text-sm"
        >
          <span class="text-accent font-bold mr-2"> | </span> Web Developer 🞄 Cybersecurity</span
        >
      </h1>
    </div>
    <div class="text-secondary-200 text-justify text-base">
      <p>Hello, I'm Reja Revaldy F</p>
      <p>College student majoring in Informatics Engineering.</p>
    </div>
    <div class="text-secondary-200 text-justify text-base">
      <p>
        Currently focusing on Web Development and Cybersecurity. I am currently
        studying several programming languages, including Python, PHP, and
        JavaScript. Additionally, I am familiar with frameworks such as Laravel
        and Flask, and I am currently working with the LAMP stack.
      </p>
    </div>
    <div>
      <p class="text-sm h-6">
        <span class="i-lucide-map-pin text-secondary-200 w-4.5 h-4.5 mr-2"
        ></span>
        <span class="text-secondary-200"> Indonesia, Kalimantan Selatan </span>
      </p>
      <p class="text-sm h-6">
        <span class="i-lucide-school-2 text-secondary-200 w-4.5 h-4.5 mr-2"
        ></span>
        <span class="text-secondary-200"> Politeknik Negeri Banjarmasin </span>
      </p>
    </div>
  </div>
</div>

<Footer />
