---
interface Props {
  title: string;
  body: string;
  href: string;
}

const { href, title, body } = Astro.props;
---

<div
  class="p-3 border border-primary-200 rounded-lg shadow-lg hover:bg-primary-200 hover:bg-opacity-15 hover:border-b-4 hover:border-b-accent duration-200 ease-in-out transition-all min-h-100px grid place-items-center"
>
  <a href={href}>
    <div class="px-6 py-4">
      <div class="font-bold text-3xl mb-2 text-secondary-300">
        {title}
      </div>
      <p class="text-base text-secondary-100">
        {body}
      </p>
    </div>
  </a>
</div>
