---
import type { CollectionEntry } from "astro:content";
import Post from "../components/Post.astro";
type Props = {
  posts: CollectionEntry<"posts">[];
};

const { posts } = Astro.props;
console.log(posts.map((post) => post.data.title));
---

<div class="flex justify-between p-2">
  {posts.map((post) => <Post post={post} />)}
</div>
